/*bàn chơi*/
#playGround {
    display: flex;
    justify-content: center;
    border: 20px solid blue;
    width: 62.5vw;
    height: 20vw;
    border-radius: 10vw;
    padding: 3.5vw 5vw 0vw 6vw;
    outline-style: solid;
    outline-color: #e9f5f6;
    border-inline-color: #ea0e1d;
}

/*số tiền cược*/
.amountMoney {
    display: flex;
    justify-content: center;
}

.gamble {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

/*chọn cửa*/
.type {
    border: 1px solid black;
    width: 10vw;
    height: 3vw;
    padding: 0vw 0vw 0.3vw 0vw;
    text-align: center;
    border-radius: 3vw;
    font-size: 2vw;
    margin-top: 0px;
    background-color: greenyellow;
    color: #ea0e1d;
}

/*mức cược*/
.setValue {
    border: 1px solid black;
    width: 6vw;
    height: 2.5vw;
    text-align: center;
    font-size: 1.5vw;
    border-radius: 1vw;
    margin: 1vw 1vw 1vw 1vw;
    background: #29a1a1;
}

.setValue:hover {
    background-color: #a9e7ef;
    cursor: pointer;
}

/*số tiền đặt của người chơi*/
.betAmount {
    border: 1px solid black;
    width: 6vw;
    height: 2vw;
    text-align: center;
    border-radius: 1vw;
    font-size: 1.5vw;
    margin: 0.8vw 2vw 2vw 2vw;
    background-color: rosybrown;
}

/*số tiền hiện có của người chơi*/
.currentAmount {
    border: 1px solid black;
    width: 6vw;
    height: 2vw;
    text-align: center;
    line-height: 1.5vw;
    border-radius: 1vw;
    font-size: 1.5vw;
    margin: 0vw 2vw 0.5vw 2vw;
    background-color: yellow;
}

.placeBet {
    display: flex;
    justify-content: center;
    height: 2vw;
}

.select {
    border: 1px solid black;
    width: 10vw;
    height: 3vw;
    text-align: center;
    font-size: 1.5vw;
    border-radius: 2vw;
    margin: 1vw 1vw 1vw 1vw;
    padding-top: 0.3vw;
}

#all {
    background-color: #1b51e0;
    color: white;
    border: 1px solid black;

}

#all:hover {
    background-color: #367dec;
    cursor: pointer;

}

#setBet {
    background-color: #f3e514;
    color: white;
    border: 1px solid black;

}

#setBet:hover {
    background-color: #ded9ae;
    cursor: pointer;
}

#cancel {
    background-color: #ea0e1d;
    color: white;
    border: 1px solid black;

}

#cancel:hover {
    background-color: #a23039;
    cursor: pointer;
}

.dice {
    display: block;
    width: 5vw;
    height: 5vw;
    margin-top: 4vw;
    margin-left: 0.5vw;
}

#play {
    border: 1px solid black;
    border-radius: 2vw;
    width: 10vw;
    height: 3vw;
    font-size: 1.5vw;
    color: #ffffff;
    text-align: center;
    padding-top: 0.3vw;
    background-color: aqua;
    margin: 1vw;
}

#play:hover {
    background-color: #439393;
    cursor: pointer;
}

#result {
    border: 1px solid black;
    border-radius: 2vw;
    text-align: center;
    font-size: 2vw;
    width: 10vw;
    height: 3.5vw;
    padding-top: 0.2vw;
    margin: 2vw 45vw 0vw 45vw;
    background-color: #0a9839;
    color: white;
}

#totalMoneyPlayer {
    border: 5px dotted #f50211;
    border-radius: 2vw;
    text-align: center;
    font-size: 2vw;
    width: 15vw;
    height: 4vw;
    margin: 1vw 42.5vw 0vw 42.5vw;
    color: #f8f105;

}

.block {
    padding: 0vw 2vw 0vw 2vw;
}

.music {
    display: flex;
    justify-content: center;
}

body {
    background-image: url("https://freenice.net/wp-content/uploads/2021/10/hinh-nen-vu-tru-khong-gian-dep.jpg");

}